body{
 margin: 0 auto;
padding: 0;
}
#map {
    height: 90vh;
    width: 100vw;
}
  
.container{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-grow: 1; flex-shrink: 0; flex-basis: auto;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.cabecera{
    margin: 0 auto; padding: 0;

    width: 100vw;
    height: 80px;
    background: rgb(10,10,10);
 }

.autor_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.autor_name{
    color: #fff;
    font-size: 2rem;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: flex;
   opacity: 0.7;
   background-color: #fff;
   z-index: 1000000;
   text-align: center;

    align-items: center;
    justify-content: center;
}

#loading div {
    height: 12rem;
    width: 12rem;
}

.sr-only {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}


.capas_texto{
    font-style: normal;
    font-size: 14px;
}

.capas_texto  i{
    font-size: 20px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.capas_titulo{
    font-style: bold;
    font-size: 16px;
    text-align: center;
    margin-left: .5rem;
}

.capas_titulo i{
    font-size: 25px;
}
